.card-container {
  max-width: 720px;
  margin: auto;
  .quote {
    font-size: 36px;
    font-weight: 500;
    position: relative;
    padding-inline-start: 80px;
    &::before {
      content: '';
      position: absolute;
      height: 100%;
      width: 8px;
      background-color: #f7df94;
      inset-inline-start: 0;
    }
  }
  .info-container {
    margin-top: 150px;
    margin-inline-start: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .info {
      .author {
        margin-bottom: 8px;
        color: #4f4f4f;
        font-size: 24px;
        font-weight: 700;
      }
      .genre {
        color: #828282;
        font-size: 14px;
        font-weight: 500;
      }
    }
  }
}
