.app-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  .random-button {
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    gap: 8px;
    color: #4f4f4f;
    font-size: 18px;
    margin-block: 30px;
    margin-inline-start: auto;
    margin-inline-end: 100px;
    cursor: pointer;
  }
  main {
    max-width: 720px;
    margin-inline: auto;
    margin-block: 80px;
    display: flex;
    flex-direction: column;
    gap: 100px;
    .card-container {
      margin-inline: auto;
      .quote {
        font-size: 36px;
        font-weight: 500;
        position: relative;
        padding-inline-start: 80px;
        &::before {
          content: '';
          position: absolute;
          height: 100%;
          width: 8px;
          background-color: #f7df94;
          inset-inline-start: 0;
        }
      }
    }
    .info-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .info {
        .author {
          margin-bottom: 8px;
          color: #4f4f4f;
          font-size: 24px;
          font-weight: 700;
        }
        .genre {
          color: #828282;
          font-size: 14px;
          font-weight: 500;
        }
      }
    }
    .loading-container {
      margin: auto;
      margin: auto;
    }
  }
}
